annotated-types==0.7.0
anyio==4.14.2
click==8.4.2
colorama==0.4.6
fastapi==0.115.6
greenlet==3.5.3
h11==0.16.0
httptools==0.8.0
idna==3.18
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
pydantic==2.10.3
pydantic_core==2.27.1
Pygments==2.20.0
pytest==9.1.1
python-dotenv==1.2.2
PyYAML==6.0.3
SQLAlchemy==2.0.36
starlette==0.41.3
typing_extensions==4.16.0
uvicorn==0.34.0
watchfiles==1.2.0
websockets==16.1.1
